<header>
    <nav class="container mx-auto mb-6">
        <ul class="flex justify-end text-xl ">
            <li class="mr-auto"><a href="/">AD Supplies</a></li>
            <li class="mr-8 links"><a href="/about">About</a></li>
            <li class="mr-8 links"><a href="/services">Services</a></li>
            <li class="links"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>