<header>
    <nav class="container mx-auto mb-6">
        <ul class="flex flex-wrap justify-center items-center text-2xl md:justify-end">
            <li class="w-full mr-auto mb-5 md:mb-auto md:w-auto"><a href="/"><img src="/assets/logo.png"
                        class="mx-auto w-24" alt="AD Supplies Logo"></a>
            </li>
            <li class="mr-5"><a href="/about">About</a></li>
            <li class="mr-5"><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>