---
title: null
layout: 'base.njk'
description: test description
permalink: /
---

<div class="hero">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        AD Supplies
      </h1>
      <h2 class="mb-5 text-3xl">
        Recycling for energy is our passion!
      </h2>
    </div>
  </div>
</div>