---
title: null
layout: 'base.njk'
description: test description
permalink: /
---

<div class="hero">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        AD Supplies
      </h1>
      <h2 class="mb-5 text-3xl">
        Recycling for energy is our passion!
      </h2>
    </div>
  </div>
</div>
<section>
  <h2 class="mb-5 font-medium">Latest Posts</h2>
  <p>Have a read of our latest blog posts covering our most recent stories and industry news.</p>
  <div class="grid lg:grid-cols-3 gap-6 mt-5">
    <article class="card">
      <figure>
        <img src="https://picsum.photos/id/1005/400/250">
      </figure>
      <div class="card-body bg-gray text-white">
        <h2 class="card-title">Blog Post Title</h2>
        <p>Info about the post...</p>
        <div class="card-actions">
          <button class="btn bg-white text-gray hover:text-white">Read Post</button>
        </div>
      </div>
    </article>
    <article class="card">
      <figure>
        <img src="https://picsum.photos/id/1005/400/250">
      </figure>
      <div class="card-body bg-gray text-white">
        <h2 class="card-title">Blog Post Title</h2>
        <p>Info about the post...</p>
        <div class="card-actions">
          <button class="btn bg-white text-gray hover:text-white">Read Post</button>
        </div>
      </div>
    </article>
    <article class="card">
      <figure>
        <img src="https://picsum.photos/id/1005/400/250">
      </figure>
      <div class="card-body bg-gray text-white">
        <h2 class="card-title">Blog Post Title</h2>
        <p>Info about the post...</p>
        <div class="card-actions">
          <button class="btn bg-white text-gray hover:text-white">Read Post</button>
        </div>
      </div>
    </article>
  </div>
</section>