---
title: Services
layout: 'base.njk'
permalink: /services/
---

<h1>Services</h1>
<p>AD Supplies are a waste management company. We specialise in food and organic waste recycling solutions.</p>
<p>We realise that taking care of your customers, employees and day to day business is already challenging. Especially
        in today’s volatile world.</p>
<p>
        Striving to improve waste management and waste disposal options may not be a
        priority.
</p>
<p>This is where AD Supplies can be a valuable partner. We can help you to find the best waste management
        solution. We can upcycle your waste.</p>
<p>
        Some of the ways we can help.
</p>
<!-- Slider main container -->
<div class="swiper my-20" style="height: 250px">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>Bespoke waste storage and waste removal solutions</span>
                        </div>
                </div>
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>Liquid waste collections and semi dry waste collections</span>
                        </div>
                </div>
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>Bulk marine cargo salvage and removal</span>
                        </div>
                </div>
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>Emergency waste removal</span>
                        </div>
                </div>
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>Packaged food waste collections</span>
                        </div>
                </div>
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>Catering waste collections</span>
                        </div>
                </div>
                <div class="swiper-slide card text-center shadow-2xl  bg-green text-white">
                        <div class="card-body justify-center">
                                <span>IBC, Dolav, Skip storage and collection</span>
                        </div>
                </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
</div>
<p>
        We have an agile team happy to talk through your individual circumstances or make a visit to your site. We can
        assess the best on-site waste handling and waste haulage options. Our goal will be to remove the need to send
        your waste to landfill or trade effluent.
</p>
<p>By avoiding landfill or trade effluent, you could improve your
        businesses green credentials, and improve your credibility with your customers & stakeholders. You will also
        reduce cost.</p>



<script defer>
        const swiper = new Swiper('.swiper', {
                // Optional parameters
                direction: 'horizontal',
                loop: true,
                slidesPerView: 1,
                spaceBetween: 40,
                autoplay: {
                        delay: 2500,
                        disableOnInteraction: false
                },

                // Navigation arrows
                navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                        768: {
                                slidesPerView: 2,

                        },
                        1024: {
                                slidesPerView: 3,
                        }
                }
        });
</script>