<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{description}}">
        <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
        <title>{% if title %}{{title}} - {% endif %}AD Supplies: Waste Management & Recycling for Energy</title>
        <link rel="stylesheet" href="/css/styles.css">
        {% if 'service' in page.fileSlug %}
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        {% endif %}
    </head>

    <body class="bg-white text-gray leading-loose p-12 min-h-screen flex flex-col">
        {% include 'header.njk' %}
        <main class="container mx-auto text-xl flex-grow">
            {{content | safe}}
        </main>
        {% include 'footer.njk' %}
    </body>

</html>