<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{description}}">
    <title>{% if title %}{{title}} - {% endif %}AD Supplies: Waste Management & Recycling for Energy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-white text-gray leading-loose">
    {% include 'header.njx' %}
    <main class="container mx-auto">
        {{content | safe}}
    </main>
</body>
</html>